$colors
    bubble_gray: #d5d5d5
    gray: #737373
    border: #9c9c9c
    light_gray: #c1c1c1

$padding
    tiny: 6px
    small: 10px
    default: 16px
    big: 28px

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body, #app, .app, .content, .events-feed, .messages
    height: 100%

body
    font: 18px/20px "Raleway", Arial, sans-serif

input, button, textarea
    font: inherit

p
    line-height: 27px

.loading
    margin: $padding.default
    display: block

#app
    display: flex
    flex-direction: column

    .nav
        position: fixed
        top: 0px
        width: 195px
        right: 0px
        text-align: right
        z-index: 750
        display: flex
        flex-direction: row

        .fa
            padding: $padding.default
            color: rgba(0, 0, 0, 0.5)
            cursor: pointer

            &:hover
                background: white

        h1, .fa-bars
            font: 20px
            padding: $padding.default
            display: inline-block
            color: white
            background: rgba(0, 0, 0, 0.5)
            &:hover
                background: rgba(0, 0, 0, 0.5)

        h1
            font: 20px "Oswald"

    .content, .message-publisher, .menu, .menu-overlay-content
        max-width: 600px
        margin: 0 auto

.home-page
    a
        text-align: center

.menu
    position: fixed
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background: white
    z-index: 700
    display: flex
    flex-direction: column

    h1
        margin-top: 100px
        font-family: "Oswald"
        padding: $padding.default
        text-align: center

    .description, .home-description
        padding: $padding.default
        color: $colors.gray
        padding-bottom: 50px
        text-align: center

    .description
        display: none

    a
        margin-bottom: $padding.default
        cursor: pointer
        font-weight: 500

    .menu-links
        padding: $padding.big $padding.default
        display: flex
        flex-direction: column
        flex-grow: 1
        text-align: center
        div
            margin-bottom: $padding.small
            a
                color: black

                &.in-progress
                    font-style: italic
                    color: #454545

    .menu-footer
        display: flex
        flex-direction: column
        padding: $padding.small
        text-align: center

        .footer
            text-align: left
            padding-top: 40px

        .publisher-note, .dedicated
            color: #bbb
            font-weight: 200
            font-size: 14px
            text-decoration: none
            margin-bottom: 0px
            a
                margin-bottom: 0px

        .dedicated
            float: right

    .abouttheauthor
        .author-portrait
            height: 100px
            width: 100px
            margin: 0 auto
            margin-bottom: $padding.default

            img
                height: 100%
                border-radius: 100px
                box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.12)

            p
                margin-bottom: $padding.default

        .social-links
            text-align: center

        + .close
            text-align: center

.menu-overlay
    z-index: 1000
    position: fixed

    a
        color: $colors.gray

    .overlay-backdrop
        position: fixed
        background: rgba($colors.gray, 0.4)
        top: 0
        left: 0
        right: 0
        bottom: 0

    .overlay-content
        position: fixed
        background: white
        top: 100px
        box-shadow: 0 4px 8px rgba($colors.gray, 0.2)
        background: white
        display: flex
        flex-direction: column
        padding: $padding.default
        margin-right: $padding.default

        .close
            margin-top: $padding.default
            margin-bottom: 0px
            color: $colors.gray
            cursor: pointer

        .how-to-play
            div
                margin-bottom: $padding.tiny

    .menu-overlay-content
        div
            margin-bottom: $padding.small

    .social-links
        margin-top: $padding.default
        a + a
            margin-left: $padding.default

        i
            font-size: 20px
            cursor: pointer
            color: #555

    .emphasis
        font-weight: bold

.overlay
    z-index: 900

.message
    form
        margin-top: $padding.small
        width: 200px

        label
            display: none

        input
            width: 100%
            border: none
            border-bottom: 1px solid $colors.light_gray
            &:focus
                outline: none
                border-bottom: 1px solid #aaa

        button
            width: 100px
            margin: 0 auto
            display: block

        input, button
            margin-bottom: $padding.small
            padding: $padding.tiny
            background: white
            cursor: pointer

input, button
    border: 1px solid $colors.light_gray
    padding: $padding.tiny
    -webkit-input-placeholder: $colors.light_gray
    &:focus
        outline: none
    &:active
        outline: none

.message-publisher
    input
        border: none
        border-top: 1px solid $colors.border
        box-shadow: 0px -2px 0px rgba(162, 162, 162, 0.11)
        box-shadow: 0px -2px 0px rgba(39, 39, 39, 0.07)

.chapter-header
    font: 20px "Oswald"
    padding: $padding.small
    margin: 65px 0px
    text-align: center

.messages
    padding-bottom: 50px
    overflow-y: scroll

    .message
        padding: $padding.small

        &.from-character .body
            background: $colors.bubble_gray
            padding: 10px $padding.default
            border-radius: 5px
            max-width: 450px
            position: relative
            margin-top: $padding.default

            &:after
                content: ' '
                position: absolute
                width: 0
                height: 0
                left: auto
                top: 0px
                bottom: auto
                border: 10px solid
                right: auto
                left: 12px
                border-color: transparent transparent $colors.bubble_gray transparent
                top: -20px

        .from
            font-weight: bold
            color: $colors.light_gray
            margin-bottom: $padding.tiny

        .body
            line-height: 24px

            a
                font-weight: bold
                cursor: pointer
                color: #444
                text-shadow: 0px 2px 4px rgba(136, 136, 136, 0.2)

            p + p
                margin-top: $padding.small

.message-publisher
    position: fixed
    bottom: 0px
    left: 0px
    right: 0px

    input
        padding: $padding.small
        width: 100%

        &:focus
            outline: none

@media(max-width: 600px)
    .menu
        h1
            margin-top: 60px
        .menu-overlay .overlay-content
            top: 60px

@media(max-width: 420px)
    .chapter-header
        margin: 40px 0px
