



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.app,
.content,
.events-feed,
.messages {
  height: 100%;
}

body {
  font: 18px/20px "Raleway", Arial, sans-serif;
}

input,
button,
textarea {
  font: inherit;
}

p {
  line-height: 27px;
}

.loading {
  margin: 16px;
  display: block;
}

#app {
  display: flex;
  flex-direction: column;
}

#app .nav h1,
#app .nav .fa-bars {
  cursor: pointer;
  font: 20px;
  padding: 16px;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#app .nav h1 {
  font: 20px "Oswald";
}

#app .nav {
  position: fixed;
  top: 0px;
  width: 100px;
  right: 0px;
  text-align: right;
}

.message form label {
  display: none;
}

.message form input:focus {
  outline: none;
  border-bottom: 1px solid #aaa;
}

.message form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c1c1c1;
}

.message form button {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.message form input,
.message form button {
  margin-bottom: 10px;
  padding: 6px;
  background: white;
  cursor: pointer;
}

.message form {
  margin-top: 10px;
  width: 200px;
}

input,
button {
  border: 1px solid #c1c1c1;
  padding: 6px;
  -webkit-input-placeholder: #c1c1c1;
}

input:focus,
button:focus {
  outline: none;
}

input:active,
button:active {
  outline: none;
}

.chapter-header {
  font: 20px "Oswald";
  padding: 10px;
  margin: 65px 0px;
  text-align: center;
}

.messages {
  padding-bottom: 50px;
  overflow-y: scroll;
}

.messages .message.from-character .body:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  top: 0px;
  bottom: auto;
  border: 10px solid;
  right: auto;
  left: 12px;
  border-color: transparent transparent #d5d5d5 transparent;
  top: -20px;
}

.messages .message.from-character .body {
  background: #d5d5d5;
  padding: 10px 16px;
  border-radius: 5px;
  max-width: 450px;
  position: relative;
  margin-top: 16px;
}

.messages .message .from {
  font-weight: bold;
  color: #c1c1c1;
  margin-bottom: 6px;
}

.messages .message .body a {
  font-weight: bold;
  cursor: pointer;
  color: #444;
  text-shadow: 0px 2px 4px rgba(136, 136, 136, 0.2);
}

.messages .message .body p + p {
  margin-top: 10px;
}

.messages .message .body {
  line-height: 24px;
}

.messages .message {
  padding: 10px;
}

.message-publisher {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.message-publisher input:focus {
  outline: none;
}

.message-publisher input {
  padding: 10px;
  width: 100%;
}