



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.app,
.content,
.events-feed,
.messages {
  height: 100%;
}

body {
  font: 18px/20px "Raleway", Arial, sans-serif;
}

input,
button,
textarea {
  font: inherit;
}

p {
  line-height: 27px;
}

.loading {
  margin: 16px;
  display: block;
}

#app {
  display: flex;
  flex-direction: column;
}

#app .nav h1,
#app .nav .fa-bars {
  cursor: pointer;
  font: 20px;
  padding: 16px;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#app .nav h1 {
  font: 20px "Oswald";
}

#app .nav {
  position: fixed;
  top: 0px;
  width: 100px;
  right: 0px;
  text-align: right;
}

input {
  border: 1px solid #c1c1c1;
  -webkit-input-placeholder: #c1c1c1;
}

.chapter-header {
  font: 20px "Oswald";
  padding: 10px;
  margin: 65px 0px;
  text-align: center;
}

.messages {
  padding-bottom: 50px;
  overflow-y: scroll;
}

.messages .message .from {
  font-weight: bold;
  color: #c1c1c1;
  margin-bottom: 6px;
}

.messages .message .body a {
  font-weight: bold;
  cursor: pointer;
  color: #444;
}

.messages .message .body p + p {
  margin-top: 10px;
}

.messages .message .body {
  line-height: 24px;
}

.messages .message {
  padding: 10px;
}

.message-publisher {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.message-publisher input:focus {
  outline: none;
}

.message-publisher input {
  padding: 10px;
  width: 100%;
}